/* theme.css */

body {
  padding: 10px;
  text-align: center;
}
canvas {
  max-width: 800px;
  max-height: 400px;
}

h1 {
  padding: 10px;
  text-align: center;
  font-size: 18pt;
}

h2 {
  padding: 10px;
  text-align: center;
  font-size: 16pt;
}

.title {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    text-align: center;
}

.choice-box {
  min-width: 200px;
  margin: 10px 40%;
  border-style: solid;
  border-width: 2px;
}

.plot {
    margin: 5px auto;
    display: flex;
    /* align-content: center; */
    justify-content: center;
}

.footer {
    padding: 1rem 0;
    background-color: #e9ecef;
    text-align: center;
}

.footer a {
  color: #5a5656;
  text-decoration: underline;
}

.footer a:hover {
  color: #1e84f2;
  text-decoration: underline;
}

.button {
 border-color:#dbdbdb;
 border-width:1px;
 background-color:#00dd11;
 /*color:#fff;*/
 color:#363636;
 /*cursor:pointer;*/
 /*justify-content:center;*/
 padding: calc(.5em - 1px) 1em;
 text-align:center;
 /*white-space:nowrap;*/
}

.button:hover {
 background-color:#00c4a7;
 border-color:transparent;
 color:#fff
}
